<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kadmium_osc_dmx_firesafety.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <kadmium_osc_dmx_firesafety.Properties.Settings>
            <setting name="Hostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>9001</value>
            </setting>
            <setting name="Group" serializeAs="String">
                <value>fire</value>
            </setting>
            <setting name="InputDeviceGuid" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="UpdateRate" serializeAs="String">
                <value>5</value>
            </setting>
        </kadmium_osc_dmx_firesafety.Properties.Settings>
    </userSettings>
</configuration>